# Ignoruj katalogi bin i obj
/bin/
/obj/

# Ignoruj pliki macOS
.DS_Store

# Ignoruj pliki cache i konfiguracji IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignoruj buildy
*.dll
*.exe
*.pdb
*.cache
*.log

# Ignoruj foldery publikacji
publish/
